{{!-- <h1>Hello world, {{#if data.name}}{{data.name}}{{/if}}</h1>

<h2>{{#if data.name}}
    <form action="/logout" method="get">
        <buttton type="submit">Logout</buttton>
    </form>
    {{/if}}
    
    {{^if data.name}}<a href="/login">Login</a>
    {{/if}}</h2> --}}
    <link rel="stylesheet" href="css/home.css">
    <header class="site-header">
      {{#if user.name}}
        <h1>Hello{{#if user.name}}, {{user.name}}{{/if}}</h1>
      {{/if}}

      {{^if user}}
        <h1>Hello{{#if data.name}}, {{data.name}}{{/if}}</h1>
      {{/if}}
  <div class="burger_icon">
    <div class="line_one"></div>
    <div class="line_two"></div>
    <div class="line_three"></div>
  </div> 
  <div class="burger_close">
  
  </div> 
  <nav class="main-nav">

    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/add-blog">Create Blog</a></li>
      <li>
            {{#if user}}
                {{!-- <li><form action="/logout"><button type="submit">Logout</button></form></li> --}}
                <li><a href="/logout">Logout</a></li>           
            {{/if}}
            
            {{^if user}}
                <a href="/login-google">Login</a>
            {{/if}}
        </li>
    </ul>
  </nav>
</header>
{{{body}}}
<!--main -->

<footer><p>Instagram, Facebook, Telegram</p></footer>